body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.popup {
    display: flex;
    align-items: center;
}

.centerText {
    text-align: center;
}

.flyToCampusButton {
    width: 100% !important;
    padding: 5px !important;
    font-weight: bold !important;
}
